.header {
  display: flex;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #817997;
    color: #FFFFFF;
    font-weight: bolder;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    line-height: 5rem;
  }

  .header h1{
    margin: auto;
    font-size: 4.5rem;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
  }
  