.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.container h3{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: #817997;
}
